/*body {*/
	/*padding: 0;*/
	/*margin: 0;*/
/*}*/
html, body {
	height: 100%;
}
.modal-backdrop {
	z-index: 0 !important;
}
#map {
	height: calc(100% - 61px);
	width: 100%;
	/*float: left;*/
	position: relative;
}
.addpath {
	float: right;
	font-size: 50px;
}
.navbar {
	/*padding: 20px 20px;*/
	margin-bottom: 0px !important;
	height: 80px !important;
	border-radius: 0px !important;
}
.learningPath:hover {
	border-color: #f47c3c;
}
.navbar h1 {
	color: #fff;
	line-height: 65px;
	font-weight: 300 !important;
	display: inline-block;
}
.navbar a {
	display: inline !important;
	position: top;

}
.navbar-brand img {
	height: 50px;
	margin-left: -5px;
	margin-top: -5px;
}
#editBtn, #createBtn {
	float: left;
}
#user {
	float: right;
	padding-top: 20px;
	font-size: 14px;
}
/*#map { height: 380px; }*/
iframe {
	float: left;
	margin-left: 1.5%;
}
          
.circle-1, .circle-2, .circle-3, .circle-4, .circle-5, .circle-6, 
.circle-7, .circle-8 
{
	width: relative;
	height:70px;
	padding: 0 10px;
	border-radius:50px;
	font-size:20px;
	line-height:70px;
	text-align:center;
	z-index: 2;
	color: #fff;
	margin: 15px 30px;
	display: block;
}     

.circle-1 {background: #325d88;}
.circle-2 {background: #93c54b;}
.circle-3 {background: #29abe0;}
.circle-4 {background: #f47c3c;}
.circle-5 {background: #d9534f;}

.circle::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 63px;
  height: 100%;
  width: 4px;
  background: #000;    
  z-index: 1;
}
