body {
	padding: 0;
	margin: 0;
}
html, body {
	height: 100%;
}
#map {
	height: calc(100% - 61px);
	width: 100%;
	position: relative;
}
.navbar {
	margin-bottom: 0px !important;
	height: 60px !important;
}
/*#map { height: 380px; }*/
